@import '../../style/variables.scss';

.form {
  width: 332px;
  margin-right: 16px;
  padding: 24px;
  border-radius: 4px;
  background-color: $whiteBackGroundColor;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);

  .wrapper__input{
    margin-bottom: 16px;
    .input__label {
      display: inline-block;
      margin-bottom: 4px;

      &[aria-required]::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 4px;
        height: 4px;
        background-color: $redColor;
        border-radius: 50%;
      }
    }
}

  &__input {
    width: 100%;
    padding: 10px 16px;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
    color: $textColor;

    &::-webkit-input-placeholder {
      color: $greyColor;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }

    ::-moz-placeholder {
      color: $greyColor;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 108px;
    margin-bottom: 16px;
    padding: 10px 16px;
    resize: none;
    font-size: 12px;
    line-height: 15px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
    color: $textColor;

    &::-webkit-input-placeholder {
      color: $greyColor;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }

    ::-moz-placeholder {
      color: $greyColor;
      font-size: 12px;
      line-height: 15px;
      font-weight: 400;
    }
  }

  &__button {
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    background-color: $successGreenColor;
    color: $whiteFFColor;

    &:disabled {
      background-color: $greyEEColor;
      color: $greyColor;
    }
  }
}