@import '../../style/variables.scss';

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title{
  font-size: 28px;
  line-height: 1.2;
  font-weight: 600;
}

.select{
  position: relative;
  padding: 10px 21px 10px 16px;
  border-right: 4px;
  background-color: $whiteBackGroundColor;
  color: $greyColor;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  appearance: none;
  background-image: url("arrow.svg");
  background-repeat: no-repeat;
  background-position:94% 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
}