$whiteFFColor:#FFF;
$whiteBackGroundColor:#FFFEFB;
$backgroundPageColor:rgba(255, 254, 251, 0.8);
$textColor:#3F3F3F;
$greyColor:#B4B4B4;
$greyEEColor:#EEE;
$redColor:#FF8484;
$successGreenColor:#7BAE73;

